.nivelamento-container {
    background: lightsteelblue;
    .barra-progresso {
        height: 2px;
        transition: width 2s;
        background: deepskyblue;
    }
}

.errado {
    color: #761b18;
    background-color: #f9d6d5;
    border-color: #f7c6c5;
}