@keyframes brilha {
    from {
        box-shadow: 0 0 0 white;
    } to {
        box-shadow: 0 0 20px white;
    }
}

.nivelamento-container {
    background: lightsteelblue;
    .barra-progresso {
        height: 2px;
        transition: width 2s;
        background: deepskyblue;
    }

    .container-insignia {        
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        .insignia {
            display: block;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 4px double;
            box-shadow: 0 0 10px white;
            transition: box-shadow 2s;
            animation: brilha 1s alternate infinite;
            background-repeat: no-repeat;
            &.pitagoras {
                background-size: 70%;
                background-position: 40% 35%;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 335.4 335.4'%3E%3Cpath d='M331 32c-2.4-.8-5.2-.4-6.8 1.2L39.4 318c-2 2-2.4 4.4-1.2 6.8.8 2.4 3.2 4 6 4H329c3.6 0 6.4-2.8 6.4-6.4V38c-.4-2.8-2-5.2-4.4-6zm-8.8 73.6h-28.4c-3.6 0-6.4 2.8-6.4 6.4s2.8 6.4 6.4 6.4h28.4V150h-18.8c-3.6 0-6.4 2.8-6.4 6.4 0 3.6 2.8 6.4 6.4 6.4h18.8v26.8h-28.4c-3.6 0-6.4 2.8-6.4 6.4 0 3.6 2.8 6.4 6.4 6.4h28.4V234h-18.8c-3.6 0-6.4 2.8-6.4 6.4 0 3.6 2.8 6.4 6.4 6.4h18.8v26.8h-28.4c-3.6 0-6.4 2.8-6.4 6.4 0 3.6 2.8 6.4 6.4 6.4h28.4V318H59v-1.6L322.2 53.2v52.4z'/%3E%3Cpath d='M272.2 167.2c-2.4-.8-5.2-.4-6.8 1.2L181.8 252c-2 2-2.4 4.4-1.2 6.8.8 2.4 3.2 4 6 4h83.2c3.6 0 6.4-2.8 6.4-6.4v-83.2c-.4-2.8-1.6-4.8-4-6zm-8.8 82.8h-62l62-61.6V250zM295.4 8.4C293 6 289 6 286.6 8.4L1.8 292.8c-2.4 2.4-2.4 6.4 0 8.8 1.2 1.2 2.8 2 4.4 2 1.6 0 3.2-.8 4.4-2L295.4 17.2c2.4-2.4 2.4-6.4 0-8.8z'/%3E%3C/svg%3E");
            }
            &.guidodarezzo {
                background-size: 70%;
                background-position: 50%;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='512' viewBox='0 0 24 24' width='512'%3E%3Cpath d='M11.894 24a.5.5 0 01-.491-.597l.707-3.535a.49.49 0 01.137-.256l7.778-7.778a1.503 1.503 0 012.121 0l1.414 1.414a1.501 1.501 0 010 2.121l-7.778 7.778a.497.497 0 01-.256.137l-3.535.707a.53.53 0 01-.097.009zm1.168-3.789l-.53 2.651 2.651-.53 7.671-7.671a.5.5 0 000-.707L21.44 12.54a.5.5 0 00-.707 0zm2.367 2.582h.01zM9.5 9h-2C6.673 9 6 8.327 6 7.5v-3C6 3.673 6.673 3 7.5 3h2a.5.5 0 010 1h-2c-.275 0-.5.225-.5.5v3c0 .275.225.5.5.5h2a.5.5 0 010 1zM14 9a.5.5 0 01-.5-.5v-5a.5.5 0 011 0v5a.5.5 0 01-.5.5zM16 9a.5.5 0 01-.5-.5v-5a.5.5 0 011 0v5a.5.5 0 01-.5.5z'/%3E%3Cpath d='M17.5 7.5h-5a.5.5 0 010-1h5a.5.5 0 010 1zM17.5 5.5h-5a.5.5 0 010-1h5a.5.5 0 010 1z'/%3E%3Cpath d='M8.89 24H4.5A2.502 2.502 0 012 21.5v-19C2 1.121 3.121 0 4.5 0h15C20.879 0 22 1.121 22 2.5v6.41a.5.5 0 01-1 0V2.5c0-.827-.673-1.5-1.5-1.5h-15C3.673 1 3 1.673 3 2.5v19c0 .827.673 1.5 1.5 1.5h4.39a.5.5 0 010 1z'/%3E%3C/svg%3E");
            }
        }
    }
}

.errado {
    color: #761b18;
    background-color: #f9d6d5;
    border-color: #f7c6c5;
}

.braco {
    display: inline-flex;
    background-color: white;
    padding: 5px;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
    .corda {
        display: inline-flex;
        flex-direction: column;
        
        &.corda-6 .casa {
            border-left: 1px solid;
        }
        &.corda-1 .casa {
            border-right: 1px solid;
        }
        .afinacao {
            display: flex;
            flex-direction: column;
            align-items: center;
            span {
                width: 13px;
                height: 13px;
                display: inline-block;
                border-radius: 50%;
                &.active {
                    border: 1px solid;
                    &.highlight {
                        background: #3490dc;
                    }
                }
                &:hover {
                    background: #bfdef7;
                }
            }
        }
        .casa {
            display: inline-flex;            
            border-width: 1px 0px;
            border-style: solid;
            hr {
                width: 2px;
                margin: 0px 6px;
                height: 30px;
                background: black;
            }
            span {
                background: black;
                width: 13px;
                height: 13px;
                position: absolute;
                border-radius: 50%;
                transform: translate(5%, 75%);
                color: white;
                font-size: 11px;
                font-weight: bold;
                justify-content: center;
                align-items: center;
                font-family: sans-serif;
                opacity: 0;
                &.active {
                    opacity: 1;
                    &.highlight {
                        background: #3490dc;
                    }
                }
                &:hover {
                    background: #bfdef7;
                    opacity: 1 !important;
                }
            }
        }
    }
}
.seta {
    width: 0px;
    height: 0px;
    border: solid;
    border-color: black white;
    margin: 2px;
    cursor: pointer;
    &.up {
        border-width: 0px 5px 10px 5px;
    }
    &.down {
        border-width: 10px 5px 0px 5px;
    }
}

.container-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 15px;
    display: flex;
    .btn-editor {
        display: inline-block;
        background: lightblue;
        margin: 2px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-weight: bolder;
        font-size: x-large;
        cursor: pointer;
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: center;
        &.hand {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='-61 0 512 512' width='512pt'%3E%3Cpath d='M235 110c8.285 0 15-6.715 15-15V75c0-8.285-6.715-15-15-15s-15 6.715-15 15v20c0 8.285 6.715 15 15 15zm0 0M155 110c8.285 0 15-6.715 15-15V75c0-8.285-6.715-15-15-15s-15 6.715-15 15v20c0 8.285 6.715 15 15 15zm0 0M235 200c8.285 0 15-6.715 15-15v-20c0-8.285-6.715-15-15-15s-15 6.715-15 15v20c0 8.285 6.715 15 15 15zm0 0M170 185v-20c0-8.285-6.715-15-15-15s-15 6.715-15 15v20c0 8.285 6.715 15 15 15s15-6.715 15-15zm0 0M230 290c8.285 0 15-6.715 15-15v-20c0-8.285-6.715-15-15-15s-15 6.715-15 15v20c0 8.285 6.715 15 15 15zm0 0M160 240c-8.285 0-15 6.715-15 15v20c0 8.285 6.715 15 15 15s15-6.715 15-15v-20c0-8.285-6.715-15-15-15zm0 0'/%3E%3Cpath d='M375 50c-8.285 0-15 6.715-15 15v5h-42.383l2.348-33.965a15 15 0 00-9.684-15.074C273.297 7.05 234.511 0 195 0S116.7 7.05 79.719 20.96a15.002 15.002 0 00-9.688 15.036L72.301 70H30v-5c0-8.285-6.715-15-15-15S0 56.715 0 65v40c0 8.285 6.715 15 15 15s15-6.715 15-15v-5h44.3l4.669 70H40v-5c0-8.285-6.715-15-15-15s-15 6.715-15 15v40c0 8.285 6.715 15 15 15s15-6.715 15-15v-5h40.969l4.664 70H50v-5c0-8.285-6.715-15-15-15s-15 6.715-15 15v40c0 8.285 6.715 15 15 15s15-6.715 15-15v-5h37.633l.398 5.996a15.022 15.022 0 002.871 7.875l18.793 25.621-3.836 62.102C99.594 403.39 95 409.152 95 416c0 6.195 3.758 11.516 9.117 13.8l-4.09 66.274A15.001 15.001 0 00115 512h160a15.001 15.001 0 0014.973-15.926l-4.09-66.273c5.36-2.285 9.117-7.606 9.117-13.801 0-6.848-4.594-12.61-10.86-14.406l-3.843-62.223 18.262-25.676a15.011 15.011 0 002.738-7.66l.418-6.035H340v5c0 8.285 6.715 15 15 15s15-6.715 15-15v-40c0-8.281-6.715-15-15-15s-15 6.719-15 15v5h-36.21l4.839-70H350v5c0 8.285 6.715 15 15 15s15-6.715 15-15v-40c0-8.281-6.715-15-15-15s-15 6.719-15 15v5h-39.297l4.836-70H360v5c0 8.285 6.715 15 15 15s15-6.715 15-15V65c0-8.285-6.715-15-15-15zM130.953 482l3.149-51h121.796l3.149 51zm5-81l3.149-51h111.796l3.149 51zM271.66 299.75L257.262 320h-124.66l-14.926-20.352-16.953-254.316C131.145 35.152 162.809 30 195 30c32.18 0 63.836 5.152 94.25 15.32zm0 0'/%3E%3C/svg%3E");
        }
        &.arm {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='512' viewBox='0 0 490.211 490.211' width='512'%3E%3Cpath d='M187.88 458.168v-15c4.342 0 8.505-.59 12.727-1.805l4.146 14.416a61.053 61.053 0 01-16.873 2.389zm32.277-8.99l-7.462-13.012c3.703-2.124 7.45-4.772 11.138-7.873l9.653 11.48c-4.369 3.674-8.854 6.838-13.329 9.405zm24.823-20.47l-11.053-10.141a115.963 115.963 0 008.873-10.93l12.203 8.723a131.016 131.016 0 01-10.023 12.348zM95.556 320.39l10.605-10.604 74.266 74.266-10.605 10.605z'/%3E%3Cpath d='M366.465 197.553a1344.573 1344.573 0 01-4.891-8.751L490.182 60.194 429.987 0l-128.54 128.54c-5.228-2.976-10.172-5.985-14.985-8.918-35.09-21.385-62.807-38.273-115.348 14.266a132.668 132.668 0 00-8.292 9.102c-9.494 11.447-20.421 21.229-32.478 29.071l8.179 12.574c13.326-8.668 25.386-19.458 35.846-32.071a117.58 117.58 0 017.353-8.068c44.2-44.2 62.931-32.786 96.936-12.064 3.821 2.329 7.721 4.705 11.807 7.093L215.788 214.2c-15.927.073-30.891 6.303-42.161 17.573-11.337 11.337-17.58 26.41-17.58 42.442s6.243 31.105 17.58 42.442c11.336 11.337 26.41 17.58 42.442 17.58s31.105-6.243 42.441-17.58c11.321-11.32 17.561-26.366 17.579-42.372l74.453-74.453c.959 1.715 1.91 3.405 2.849 5.074 21.514 38.244 34.499 61.328-6.369 102.196-3.669 3.67-6.554 6.342-9.353 8.666-22.663 18.815-39.736 43.85-49.376 72.396-7.256 21.484-19.127 40.57-35.283 56.726-48.757 48.759-106.433 38.487-176.32-31.4-32.323-32.323-52.154-62.592-58.941-89.966-7.863-31.713 1.145-59.96 27.541-86.354 16.571-16.572 36.193-28.62 58.321-35.811a146.666 146.666 0 0021.201-8.795l-6.813-13.363a131.621 131.621 0 01-19.023 7.893c-24.4 7.929-46.031 21.208-64.292 39.469C4.678 256.568-5.917 290.405 3.19 327.136c7.559 30.483 28.131 62.199 62.894 96.963 44.06 44.06 84.915 66.116 122.225 66.112 27.008-.003 52.164-11.566 75.31-34.712 17.802-17.803 30.886-38.842 38.887-62.534 8.75-25.912 24.224-48.615 44.747-65.654 3.168-2.631 6.369-5.591 10.378-9.6 22.335-22.336 32.174-42.57 30.963-63.68-1.097-19.091-10.844-36.417-22.129-56.478zm-111.039 31.361c-1.62-1.411-5.229-4.076-5.306-4.129a59.322 59.322 0 00-15.904-7.801l28.032-28.031 38.981 38.981-27.979 27.979c.643-.644-2.94-7.463-3.399-8.384a60.032 60.032 0 00-4.762-7.941 60.889 60.889 0 00-9.663-10.674zm144.978-100.155l-22.451 22.451-38.981-38.981 22.451-22.451zM372.03 79.17l22.451-22.451L433.462 95.7l-22.451 22.451zm-4.685 82.648l-22.451 22.451-38.981-38.981 9.233-9.233h-.001l13.218-13.218zm-33.059 33.058l-22.451 22.451-38.981-38.981 22.451-22.45zM468.969 60.194L444.07 85.093l-38.981-38.981 24.899-24.899zM247.904 306.051c-8.503 8.504-19.81 13.188-31.835 13.188-12.026 0-23.332-4.684-31.836-13.188-8.503-8.503-13.187-19.809-13.187-31.835s4.683-23.332 13.187-31.835c8.504-8.504 19.81-13.188 31.836-13.188.673 0 7.885.612 10.554 1.254 19.073 4.585 33.295 21.659 34.389 41.239 0 0 .079 1.869.079 2.529.001 12.027-4.683 23.333-13.187 31.836z'/%3E%3C/svg%3E");
        }
    }
}
.usuario {
    background-color: aliceblue;
}
.dragging {
    background-color: lightblue;
}

.cartas-armazenadas {
    display: flex;
    justify-content: space-between;
    .container-cartas {
        width: 115px;
        height: 172px;
        overflow: hidden;
        display: block;
        text-align: center;
        &.baralho {
            .carta {
                line-height: 14px;
                letter-spacing: -2px;
                overflow: hidden;

                .borda {
                    overflow: hidden;
                }
            }
        }
        &.lixo {
            width: 122px;
            border: 1px dashed;
        }
    }
}
.container-jogador, .container-cartas {
    display: flex;
    padding-bottom: 12px;
}
.carta {
    background: white;
    border: 1px groove;
    border-radius: 5px;
    width: 100px;
    height: 150px;
    margin: 12px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding: 5px;
    position: relative;
    border-style: outset;
    box-shadow: 1px 1px 3px black;

    .indice {
        font-size: 0.8rem;
        position: absolute;
        color: white;
        right: 45%;
        top: 40%;
    }

    &.espadas, &.ouros {
        .naipe {
            right: calc(50% - 22px);
        }
    }

    &.copas .naipe {
        right: calc(50% - 24px);
    }

    &.paus .naipe {
        right: calc(50% - 26px);
    }

    .naipe {
        font-size: 5.4em;
        position: absolute;
        top: 5%;
    }

    &.ouros, &.copas {
        color: red;
    }

    .nota-naipe {
        display: flex;
        flex-direction: column;
        font: caption;
        font-weight: bold;
        span {
            &:last-child {
                font-size: x-large;
            }
        }

        &:last-child {
            transform: rotate(180deg);
        }
    }
}

.modal-espera {
    display: none;
}

@media only screen and (max-width: 800px) {
    .container.py-4 {
        position: relative;
    }
    .modal-espera {
        display: block;
        width: 100%;
        height: 100%;
        background-color: #a6540d;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
}