body {
    background-color: #A6540D;

    .login a {
        text-decoration: none;
        color: black;
    }

    .make-login {
        margin: auto;
    }

    .card-header {
        background-color: unset;
    }

    main {
        .container .col-md-6 .card {
            text-align: center;
            padding: 20px 10px;
            svg {
                height: 240px;
            }
            p, h1 {
                margin: 5% 0;
            }
        }
    }
}